:root {
	--page-neon-green: #9effa9;
	--page-neon-green-dark: #5fbf6a;
	--page-blue: #36485e;
	--page-indigo: #333146;
	--page-black: #29252c;
	--page-blacker: #26242b;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #292738;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(80, 77, 94);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(64, 61, 77);
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	background-color: var(--page-indigo);
}

header {
	position: relative;
	width: 100%;
	height: 80vh;
	color: white;
	overflow: hidden;
}

.parallax-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url("assets/images/hero.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	transform: translateZ(0);
}

.main-heading-container {
	position: relative;
	z-index: 1;
}

.main-nav-container {
	position: fixed;
	height: 60px;
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	transition-duration: 1s;
	z-index: 999;
}

.main-nav-container.background {
	background-color: rgba(43, 60, 80, 0.5);
	transition-duration: 0.5s;
}

.logo {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 2.5rem;
	font-weight: bold;
	background-image: linear-gradient(
		to bottom right,
		var(--page-neon-green),
		rgb(14, 224, 3)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav ul li {
	display: inline;
	text-transform: uppercase;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding-inline: 20px;
}

.main-nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: white;
	transition-duration: 0.25s;
}

.main-nav ul li a:hover {
	display: inline-block;
	color: var(--page-neon-green);
	transform: scale(1.1);
}

.main-heading-container {
	width: 50%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin-top: 170px;
	margin-left: 10%;
}

.main-heading {
	font-size: 3.5rem;
	font-weight: bold;
}

.main-heading-description {
	width: 80%;
	font-size: 1.5rem;
	margin-top: 35px;
}

section {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block: 8vh;
}

.content {
	width: 80%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-size: larger;
	color: gainsboro;
}

.content-my-photo,
.content-introduction {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.content-my-photo {
	width: 40%;
}

.content-introduction {
	width: 40%;
	margin-left: 20px;
}

.content-my-photo {
	align-items: center;
}

.content-my-photo img {
	width: 50%;
	border-radius: 50%;
	box-shadow: 5px 5px 10px 0 #161928;
	transition-duration: 0.5s;
}

.content-my-photo img:hover {
	transform: scale(1.1);
	transition-duration: 1s;
}

.content-introduction h3 {
	font-size: 2.5rem;
	color: white;
}

.content-introduction h3 .gradient {
	background-image: linear-gradient(
		to bottom right,
		var(--page-neon-green),
		rgb(14, 224, 3)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.content-introduction p {
	margin-top: 25px;
}

#projects {
	flex-direction: column;
	gap: 2rem;
}

#projects h2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-size: 2.5rem;
	background-image: linear-gradient(
		to bottom right,
		var(--page-neon-green),
		rgb(14, 224, 3)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin-top: 1rem;
}

.project-container {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	transform: skewY(-15deg);
	/* transform-style: preserve-3d; */
	padding-bottom: 20%;
}

.project-card {
	position: relative;
	max-width: 25%;
	background-color: var(--page-blue);
	border-radius: 10px;
	border-top: 5px solid rgb(65, 68, 73);
	border-left: 5px solid rgb(57, 60, 66);
	outline: 2px solid transparent;
	text-shadow: -1px 0 rgb(49, 52, 59), 0 1px rgb(49, 52, 59),
		1px 0 rgb(49, 52, 59), 0 -1px rgb(49, 52, 59);
	box-shadow: 5px 5px 10px 0 #161928;
	display: flex;
	flex-direction: column;
	margin-block: 10px;
	padding: 20px;
	margin-left: -200px;
	transition-duration: 1s;
}

.project-card:hover {
	transform: translateX(-155px);
}

.project-card:nth-of-type(1) {
	margin-left: 0;
	color: rgb(175, 50, 242);
}

.project-card:nth-of-type(1):hover {
	outline-color: rgb(175, 50, 242);
}

.project-card:nth-of-type(2) {
	color: rgb(0, 238, 255);
	top: 50px;
}

.project-card:nth-of-type(2):hover {
	outline-color: rgb(0, 238, 255);
}

.project-card:nth-of-type(3) {
	color: rgb(247, 32, 32);
	top: 100px;
}

.project-card:nth-of-type(3):hover {
	outline-color: rgb(247, 32, 32);
}

.project-card:nth-of-type(4) {
	color: rgb(11, 236, 101);
	top: 150px;
}

.project-card:nth-of-type(4):hover {
	outline-color: rgb(11, 236, 101);
}

.project-card:nth-of-type(5) {
	color: rgb(249, 249, 5);
	top: 200px;
}

.project-card:nth-of-type(5):hover {
	outline-color: rgb(249, 249, 5);
}

.project-card:nth-of-type(6) {
	color: rgb(250, 55, 185);
	top: 250px;
}

.project-card:nth-of-type(6):hover {
	outline-color: rgb(250, 55, 185);
}

.project-card p {
	color: snow;
	margin-top: 0.5rem;
}

.project-image img {
	width: 100%;
	height: 100%;
}

#contact {
	flex-direction: column;
	gap: 3rem;
}

.contact-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.contact-heading h2 {
	font-size: 2.5rem;
	background-image: linear-gradient(
		to bottom right,
		var(--page-neon-green),
		rgb(14, 224, 3)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.contact-heading p {
	width: 60%;
	text-align: center;
}

.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-form {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.contact-full-name {
	width: 80%;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
}

.contact-form input,
.contact-form textarea {
	box-sizing: border-box;
	width: 80%;
	height: 2.5rem;
	background-color: #354960;
	color: silver;
	border-radius: 7px;
	border: 2px solid #3a526d;
	outline: 0;
	padding-inline: 0.5rem;
	transition: background-color 0.1s;
}

.contact-form textarea {
	height: 10rem;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 0.5rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: rgb(190, 190, 190);
	font-family: Arial, Helvetica, sans-serif, FontAwesome;
}

.contact-form input:focus,
.contact-form textarea:focus {
	background-color: #2b3a4b;
	border-color: #2f435a;
}

.contact-form button[type="submit"] {
	width: 6rem;
	height: 2rem;
	background-image: radial-gradient(var(--page-neon-green), rgb(70, 217, 63));
	color: var(--page-blacker);
	border: 2px solid var(--page-neon-green-dark);
	border-radius: 1rem;
	box-shadow: 2px 2px 4px 0 #161928;
	opacity: 1;
	cursor: pointer;
	transition: opacity 0.3s, border 0.3s, transform 0.3s;
}

.contact-form:invalid button[type="submit"],
.contact-form:invalid button[type="submit"] {
	cursor: not-allowed;
	opacity: 0.3;
}

.contact-form:valid button[type="submit"]:hover {
	transform: scale(1.05);
}

.contact-form:valid button[type="submit"]:active {
	filter: brightness(60%);
}

.contact-info-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
}

.contact-info {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info h3 {
	font-size: 1.6rem;
	background-image: linear-gradient(
		to bottom right,
		var(--page-neon-green),
		rgb(14, 224, 3)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.contact-info p {
	font-size: medium;
}

.follow-me {
	display: flex;
	gap: 2rem;
}

.follow-me a {
	text-decoration: none;
	color: inherit;
}

.follow-me a i {
	transition: transform 0.3s, color 0.3s;
}

.follow-me a i:hover {
	transform: scale(1.05);
}

.follow-me a .fa-instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.follow-me a .fa-youtube:hover {
	background: linear-gradient(to bottom, #282828 40%, red 40%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.follow-me a .fa-twitter:hover {
	color: #1da1f2;
}

footer {
	width: 100%;
	height: 50vh;
	background-color: var(--page-black);
}

.footer-top {
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.footer-text-container {
	width: 50%;
	color: var(--page-neon-green);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-heading {
	font-size: 2.5rem;
	font-weight: normal;
}

.footer-description {
	color: whitesmoke;
	margin-top: 20px;
	text-align: center;
}

.footer-social-media ul {
	list-style-type: none;
}

.footer-social-media ul li {
	display: inline;
	padding-inline: 40px;
}

.footer-social-media ul li a {
	text-decoration: none;
	color: var(--page-neon-green-dark);
}

.footer-social-media ul li a i {
	transition-duration: 0.3s;
}

.footer-social-media ul li a i:hover {
	transform: translateY(-12px);
}

.footer-social-media ul li a .fa-github:hover {
	color: #f0f6fc;
}

.footer-social-media ul li a .fa-instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.footer-social-media ul li a .fa-youtube:hover {
	background: linear-gradient(to bottom, #282828 40%, red 40%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.footer-social-media ul li a .fa-twitter:hover {
	color: #1da1f2;
}

.footer-bottom {
	width: 100%;
	height: 15%;
	background-color: var(--page-blacker);
	border-top: 1px solid rgb(34, 30, 36);
	display: flex;
	justify-content: space-between;
}

.copyright,
.footer-nav {
	display: flex;
	align-items: center;
}

.copyright {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: whitesmoke;
	text-shadow: 1px solid black;
	margin: 15px;
}

.footer-nav {
	justify-content: flex-end;
}

.footer-nav ul {
	list-style-type: none;
}

.footer-nav ul li {
	display: inline;
	text-transform: uppercase;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding-inline: 20px;
}

.footer-nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: whitesmoke;
	transition-duration: 0.25s;
}

.footer-nav ul li a:hover {
	color: var(--page-neon-green);
	transform: scale(1.1);
}
